{# Template for SSH config file #}
{% if item.ssh.config.content is defined %}
{{ item.ssh.config.content }}
{% else %}
Host *
    ForwardAgent no
    StrictHostKeyChecking yes
    UserKnownHostsFile ~/.ssh/known_hosts
{% endif %}
